body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  max-height: 300px;
}

.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.message:last-child {
  margin-bottom: 0;
}

.message.sent {
  background-color: #f1f1f1;
  text-align: right;
  color: #333; 
}

.message.received {
  background-color: #e1e1e1;
  text-align: left;
  color: #333;
}


.input-container {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #218838;
}